.div_global{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.div_title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    width: 100%;

    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: 65%;
    background-position-x: -70px;
}

 .div_title::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.381);

    z-index: 1;
} 

.div_title h2{
    color: #FFFDF6;
    font-size: 1.8rem;
    z-index: 5;
} 

.title__muiscaMask{
    position: absolute;

    width: 15%;

    top: -50px;
    bottom: 0;
    left: 83%;
    right: 0;
}

.benefits__div_title{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.benefits__div_title p{
    width: 90%;
    margin: 0 auto;

    text-align: justify;
    font-size: 0.9rem;

    line-height: 1.4;
}

.benefits__div_cards{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.benefit__greek_pattern{
    position: absolute;
    width: 200%;

    z-index: 1;
    opacity: 10%;

    top: 180px;
    bottom: 0;
    left: -50%;
    right: 0;
}   

.div_opinion{
    position: relative;
    width: 100%;

    overflow-x: hidden;
}

.opinion__greekPattern1{
    width: 130%;
    opacity: 10%;

    z-index: 1;

    margin-bottom: -160px;
}

.opinion__greekPattern2{
    width: 130%;
    opacity: 10%;

    z-index: 1;

    margin-bottom: -181px;
}

@media (width > 650px){
    .title__muiscaMask{    
        width: 10%;
    
        top: -50px;
        left: 88%;
    }

    .div_title h2{
        font-size: 2.3rem;
    } 

    .div_opinion{
        display: flex;
    }
}

@media (width > 900px){
    .title__muiscaMask{    
        width: 8%;
    
        left: 90%;
    }

    .div_title h2{
        font-size: 2.6rem;
    } 
}

@media (width > 1100px){
    .title__muiscaMask{        
        top: -70px;
    }

    .div_title{
        height: 120px;
    }

    .div_title h2{
        font-size: 3rem;
    } 
}

@media (width > 1300px){
    .title__muiscaMask{   
        width: 7%;
        
        top: -90px;
        left: 92%;
    }
}