.div_global{
    display: flex;
    flex-direction: column;

    align-items: center;

}

.div_global img{
    width: 100px;
    
}

.div_info{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.div_info span{
    color: #FFB580;
    margin-top: 2rem;

    font-size: 1.2rem;
}

.div_info p{
    width: 80%;
    text-align: center;

    font-size: 0.8rem;

    margin-bottom: 4rem;
}
