.div_global{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.div_global img{
    width: 100px;
    z-index: 10; 
}

.div_info{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.div_info span{
    color: #FFB580;
    margin-top: 2rem;

    font-size: 1.2rem;
    z-index: 10;

}

.div_info p{
    width: 80%;
    text-align: center;

    font-size: 0.8rem;

    margin-bottom: 4rem;
    z-index: 10;

}

@media (width > 900px){
    .div_global{
        cursor: default;
        border-radius: 4px;

        transition: box-shadow 0.25s;
        
    }

    .div_global:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

@media (width > 1200px){
    .div_info p{
        width: 70%;

        font-size: 1rem;
    }
}