/* GLOBAL STEPPER */
.div_global{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.steps__div_animations{
    display: flex;
}

/* Steps (animation and movement)*/

.div_steps{
    position: relative;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 7.5rem;
    flex-direction: column;

    width: 100%;
}

.steps__div_animations{
    position: relative;
    display: flex;

    width: 97%;

    align-items: center;
    justify-content: space-between;
}

.animation__dog{
    position: absolute;
    width: 90px;

    top: 0px;

    z-index: 5;
}

.animation__tree{
    position: absolute;
    width: 60px;

    top: 5px;

    right: 0;
    
    z-index: 1;
}

.steps__div_bar{
    position: absolute;

    top: 66px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 96%;

    margin: 0 auto;
    
    display: flex;

    justify-content: space-around;

    z-index: 10;
}

.bar{
    border-radius: 2px;

    height: 2px;
    width: 23%;

    
    background-color: #1F2021;
}

.bar_active{
    border-radius: 2px;

    height: 2px;
    width: 23%;

    
    background-color: #FF808B;
}

.bar_active__complete{
    border-radius: 2px;

    height: 2px;
    width: 100%;

    
    background-color: #FF808B; 
}

.steps__div_span{
    position: absolute;

    top: 70px;
    left: 3%;
}

.steps__div_span span{
    font-size: 0.7rem;
}

/* Form */
.div__form{
    width: 94%;
}
