.div_dog{
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 2rem;
}

.div_dog span{
    font-weight: 600;
    font-size: 0.95rem;

    line-height: 162%;
}

.div_info1 input{
    height: 30px;

    border: none;
    outline: none;

    box-shadow: 2px 2px 1px 0px black;

    margin-bottom: 0.8rem;
}

.div_info2 input{
    height: 30px;
    width: 40px;

    border: none;
    outline: none;

    box-shadow: 2px 2px 1px 0px black;
    margin-bottom: 0.8rem;
}

.info__div_data{
    display: flex;
    flex-direction: column;
}

.div_functions{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 4%;

    gap: 1rem;
}

.functions__icon{
    background-color: #FF808B;

    padding: 0.4rem 0.9rem 0.4rem 0.9rem;

    color: white;

    font-size: 2rem;

    border-radius: 2px;
}

.functions__icon2{
    background-color: #FF808B;

    padding: 0.4rem 0.9rem 0.4rem 0.9rem;

    color: white;

    font-size: 2rem;

    border-radius: 2px;
}

.form__div_page{
    display: flex;

    justify-content: right;
    gap: 7%;
}

.page__afterIcon{
    color: white;
    font-size: 1.6rem;

    height: 30px;

    background-color: #FF808B;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;

    transition-property: background-color, box-shadow;
    transition-duration: 0.25s;
}

.page__afterIcon:hover{
    background-color: #fc9aa2;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form__div_page__button{
    border: none;

    background-color: #FF808B;
    padding: 0 3rem 0 3rem;

    height: 43px;

    color: white;

    font-weight: 300;

    transition-property: background-color, box-shadow;
    transition-duration: 0.25s;
}

.form__div_page__button:hover{
    background-color: #fc9aa2;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form__div_page__button__disabled{
    border: none;

    background-color: #cab4b6;
    padding: 0 3rem 0 3rem;

    color: white;

    font-weight: 300;
}

.kg__span{
    font-size: 11px;
    font-weight: 300;
}

.error_input{
    background-color: #feb6bb4b;
}

@media (width <= 350px) {
    .div_info1 input{
        width: 140px;
    }
}

@media (width > 350px) and (width <= 450px) {
    .div_info1 input{
        width: 180px;
    }
}

@media (width > 500px) {
    .div_info1 input{
        width: 240px;
    }
}

@media (width < 900px) {
    .div__upload_images_desktop{
        display: none;
    }
}

@media (width >= 900px) {
    .functions__icon2{
        display: none;
    }

    .div_info1{
        display: flex;

        gap: 5%;
    }

    .div_info2{
        display: flex;
    }

    .div_functions{
        margin-top: 2%;
    }

    .div_footer{
        display: flex;

        justify-content: space-between;

        align-items: end;
    }

    .div_footer label{
        font-size: 0.8rem;
        font-weight: 300;
        
        margin-bottom: 1rem;
    }

    .div__upload_images_desktop{
        display: grid;
        grid-template-columns: 50% 50%;

        gap: 2rem;
    }

    .desktop__div_dog_upload{
        display: flex;
        flex-direction: column;
    }
    
    .upload__div_input{
        position: relative;
        background-color: #D9D9D9;

        width: 200px;
        height: 200px;

        border-radius: 100%;
    }
    .desktop__div_dog_upload input{
        position: absolute;

        top: 60px;
        left: 60px;

        width: 150px;
        height: 150px;

        border-radius: 100%;

        outline: none;
        opacity: 0;
    }

    .page__afterIcon{
        font-size: 2.7rem;
    }

    .functions__icon_desktop{
        position: absolute;

        font-size: 2.5rem;

        top: 40%;
        bottom: 0;
        left: 40%;
        right: 0;

        z-index: 10;
        opacity: 0.6;
    }
}

@media (width >= 1100px) {
    .div_dogs{
        display: grid;

        gap: 2rem;

        grid-template-columns: 50% 50%;
    }

    .div_info1{
        flex-direction: column;
    }

    .div_info2{
        flex-direction: column;
    }
}