.div_global{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 3.688rem;
}

.div_head{
    position: relative;
    display: flex;
    flex-direction: column;

    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: -30px;


    padding: 1.2rem 1.2rem 2rem 1.2rem;
}

.div_head::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.381);

    z-index: 1;
}

.head__div_title{
    display: flex;
    z-index: 5;
}

.head__div_title img{
    width: 20%;
}

.head__div_title span{
    color: #FFFDF6;
    font-size: 1.6rem;
    margin: 1.2rem 0 0 1.8rem;

    line-height: 1.4;

}

.head__div_body{
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    color: white;

    z-index: 5;
}

.head__div_body p{
    font-size: 0.75rem;
    width: 80%;

    text-align: justify;
}

.head_body__div_button{
    display: flex;
    justify-content: end;
}

.head_body__div_button button{
    background-color: #FF808B;
    color: white;

    border: none;
    padding: 0.4rem 1rem 0.4rem 1rem;

    margin-right: 10px;

    border-radius: 2px;

    font-size: 0.9rem;
}

/* Register Part */

.div_register{
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;

    margin: 4rem 0rem 2rem 0rem;
    width: 90%;
}

.div_register p{
    display: none;
}

.register__div_title{
    margin-bottom: 4rem;

    text-align: center;
}

.register__div_title span{
    line-height: 1.4;
}

.register__div_button{
    position: relative;
    z-index: 10;
}

.register__div_button button{
    background-color: #FF808B;
    color: white;

    border: none;
    border-radius: 2px;

    padding: 0.6rem 1rem 0.6rem  1rem;

    font-size: 0.8rem;

}

.register__arrow{
    position: absolute;
    width: 110px;
    height: 110px;

    right: 0;
    top: 40px;
    left: -20px;
    bottom: 0;
}

.register__dogAnimation{
    position: absolute;

    width: 150px;
    height: 150px;

    right: 0;
    top: -119px;
    left: 50px;
    bottom: 0;

}

.div_opinion{
    position: relative;
    width: 100%;

    overflow: hidden;
}

.opinion__greekPattern1{
    width: 130%;
    opacity: 10%;

    z-index: 1;

    margin-bottom: -160px;
}

.opinion__greekPattern2{
    width: 130%;
    opacity: 10%;

    z-index: 1;

    margin-bottom: -186px;
}

@media (max-width: 350px) {
    .div_head{   
        background-size: 120%;
        background-position-y: -190px;
        background-position-x: -30px;   
    }
}

@media (min-width: 420px) {
    .div_head{   
        background-size: 120%;
        background-position-y: -190px;
        background-position-x: -30px;   
    }
}

/* Desktop and tablet screen */

@media (width > 650px) {
    .div_global{
        margin-top: 0;
    }

    .div_head{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -300px;
        background-position-x: 0;

       padding: 1.2rem 1.2rem 2rem 2.2rem;
    }

    .head__div_title{
        flex-direction: column;
    }
    
    .head__div_title img{
        width: 15%;
    }

    .head__div_title span{
        font-size: 2.2rem;
        margin: 1.2rem 0 0 0;
    }

    .head__div_body{
        margin-top: 0rem;
    }
    
    .head__div_body p{
        font-size: 1.2rem;
        width: 95%;
    }
    
    .head_body__div_button button{    
        padding: 0.8rem 1.3rem 0.8rem 1.3rem;
    
        margin-right: 1rem;
    
        font-size: 1.2rem;

        transition: background-color 0.25s;
        cursor: pointer;
    }

    .head_body__div_button button:hover{   
        background-color: #ff808bbe;
    } 

    /* Register */
    .div_register{
        margin: 6rem 0rem 2rem 0rem;
        width: 90%;
    }
    
    .div_register p{
        display: inline;

        font-size: 0.9rem;
        
        width: 90%;

        margin: 0 auto;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    
    .register__div_title{
        display: flex;
        flex-direction: column;
    }
    
    .register__div_title span{
        font-size: 1.2rem;
    }

    .register__div_button button{
        transition: background-color 0.25s;
        cursor: pointer;
    }

    .register__div_button button:hover{
        background-color: #ff808bbe;
    }

    .register__arrow{
        width: 140px;
        height: 140px;
    
        top: 70px;
        left: 120px;
    }

    /* Opinion */
    .div_opinion{
        display: flex;
    }

    .opinion__greekPattern1{
        position: absolute;
        width: 100%;
    
        top: 90px;
    }
    
    .opinion__greekPattern2{
        position: absolute;
        width: 100%;
    
        top: 160px;
    }
}

@media (width > 850px) {
    .div_global{
        margin-bottom: 4rem;
    }

    .div_head{
        background-position-y: -400px;
    }

    .head__div_title span{
        font-size: 2.7rem;
    }

    .head__div_body p{
        font-size: 1.6rem;
    }

    .head_body__div_button button{    
        padding: 1rem 1.6rem 1rem 1.6rem;
    
        font-size: 1.6rem;
    }

    .register__div_title span{
        font-size: 1.4rem;
    }

    .div_register p{
        font-size: 1.1rem;
        width: 100%;
    }

    .register__arrow{ 
        left: 170px;
    }

    .div_opinion{
        margin-top: 4rem;
    }

    .opinion__greekPattern1{
        display: none;
    }

    .opinion__greekPattern2{
        display: none;
    }
}

@media (width > 1050px) {
    .div_head{
        background-position-y: -450px;
    }

    .div_register{
        margin: 7rem 0rem 2rem 0rem;
    }

    .register__div_title{
        margin-bottom: 6rem;
    }

    .register__div_title span{
        font-size: 1.6rem;
    }

    .div_register p{
        font-size: 1.2rem;
        width: 100%;
    }

    .register__div_button button{
        padding: 1.2rem 1.5rem 1.2rem  1.5rem;
    
        font-size: 1.2rem;
    }

    .register__dogAnimation{
        position: absolute;
    
        width: 200px;
        height: 200px;
    
        right: 0;
        top: -158px;
        left: 90px;
        bottom: 0;
    }

    .register__arrow{
        width: 170px;
        height: 170px;
    
        top: 100px;
        left: 170px;
    }
}

@media (width > 1200px) {
    .div_register{
        margin: 9rem 0rem 2rem 0rem;
    }

    .div_head{
        background-position-y: -650px;

       padding: 1.6rem 1.8rem 2rem 2.8rem;
    }

    .head_body__div_button button{        
        margin-right: 4rem;
    }

    .register__div_title{
        margin-bottom: 9rem;
    }

    .register__div_title span{
        font-size: 1.9rem;
    }


    .div_register p{
        font-size: 1.3rem;
    }

    .register__div_button button{
        font-size: 1.4rem;
    }

    .register__dogAnimation{
        top: -158px;
        left: 120px;
    }

    .register__arrow{
        top: 120px;
        left: 300px;
    }
}