.div_global{
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.div_title{
    position: relative;
    display: flex;

    overflow: hidden;

    justify-content: space-between;

    align-items: center;

    background-color: #FF808B;

    margin: 0;
    margin-bottom: 2rem;
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
}

.div_title h3{
    color: #FFFDF6;
    
    font-weight: 400;
    font-size: 1.7rem;
    margin: 0;

    z-index: 5;
}

.title__dogAnimation{
    position: absolute;

    width: 120px;
    height: 120px;

    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;

    z-index: 2;
}

.title__runeIcon{
    position: absolute;

    width: 280%;

    opacity: 10%;
    
    top: 0;
    bottom: 0;
    right: 0;   
    left: 0;

    z-index: 1;
}

.div_description{
    display: flex;
    flex-direction: column;

    align-items: end;

    width: 92%;

    background-color: #FF808B;

    margin: 0 auto;
    padding: 0.5rem;

    border-radius: 4px;

    color: #FFFDF6;

    line-height: 1.4;

}

.div_description p {
    margin: 0;

    font-weight: 300;
    font-size: 0.9rem;

    margin-bottom: 2rem;
}


.description__div_button{
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #faf5e483;

    width: 150px;
    height: 30px;

    border-radius: 4px;

    margin: 0 1rem 1rem 0;
}

.description__div_button button{
    border: none;
    background-color: transparent;

    color: #FFFDF6;
}

.description__icon_whatsapp{
    color: #5a9055;

    font-size: 1.5rem;
}