.div__global{
    position: relative;

    width: 80%;
    margin: 0 auto;

    margin-top: 3rem;

    margin-bottom: 3rem;
}

.global__rune_icon{
    position: absolute;
    width: 70px;
    height: 70px;

    top: -40px;
    bottom: 0;
    right: 0;
    left: 250px;

    z-index: 6;
}

.global__div_info{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.global__div_info img{
    width: 300px;
    height: 200px;


    object-fit: cover;
    z-index: 1;
}

.info__div_opinion{
    display: flex;
    flex-direction: column;


    background-color: white;

    padding: 0.8rem;

    width: 180px;
    z-index: 5;

    margin-top: -70px;
    margin-left: -40px;
}


.info__div_opinion hr{
    width: 35px;

    color: rgba(0, 0, 0, 0.367);
    margin: 0;


    border: 1px solid rgba(0, 0, 0, 0.371);
}

.info__div_opinion p{
    font-weight: 300;
    text-align: justify;

    margin: 0.4rem 0 0.4rem 0;

    font-size: 0.9rem;

    color: rgba(0, 0, 0, 0.806);
}

.info__div_opinion span{
    color: rgba(0, 0, 0, 0.548);
    font-weight: 500;
}

.opinion__div_span{
    display: flex;
    justify-content: end;
}