.div_global{
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

.div_title{
    position: relative;
    display: flex;

    margin: 0 auto;
    width: 100%;

    background-size: 100%;

    
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 0px;
}

.div_title h2{
    color: #FFFDF6;

    width: 50%;
    font-size: 1.9rem;

    margin-left: 1.4rem;

    line-height: 1.4;

    z-index: 5;
}

.div_title::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.259);

    z-index: 1;
}

.div_cards{
    width: 100%;
}

@media (width > 700px){ 
    
    .div_title h2{    
        width: 100%;
        font-size: 3rem;

        margin-left: 0px;

        text-align: center;
    }
} 

@media (width > 800px){ 
    .div_title{
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}

@media (width > 1000px){ 
    .div_title{
        height: 300px;
    }

    .div_title h2{
        font-size: 5rem;
    }
}